# Nifty 50 Data Analysis

This analysis is conducted to understand the market trends for different stocks from the nifty 50 dataset.

In [1]:
from nsepy import get_history
from datetime import date

In [2]:
sbin = get_history(symbol='SBIN',
                    start=date(2007,1,1), 
                    end=date(2021,1,11))
sbin.head(5)

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2007-01-02,SBIN,EQ,1245.60,1250.0,1260.00,1243.00,1253.00,1253.55,1252.58,408144,5.112345e+13,NaN,116205.0,0.2847
2007-01-03,SBIN,EQ,1253.55,1250.0,1269.90,1237.10,1266.45,1264.85,1262.83,682554,8.619525e+13,NaN,241975.0,0.3545
2007-01-04,SBIN,EQ,1264.85,1270.0,1280.00,1237.25,1239.90,1243.00,1260.17,654440,8.247060e+13,NaN,149712.0,0.2288
2007-01-05,SBIN,EQ,1243.00,1241.0,1257.85,1233.10,1247.00,1244.10,1245.31,696227,8.670172e+13,NaN,233986.0,0.3361
2007-01-08,SBIN,EQ,1244.10,1248.8,1248.80,1207.05,1209.00,1213.70,1223.52,874701,1.070217e+14,NaN,385135.0,0.4403